# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
*.env

# Streamlit config/cache
.streamlit/
*.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Misc
*.log
*.sqlite3
*.db
